@model WebApplicationTest.Models.AsiganacionViaje

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AsiganacionViaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAsiganacion" />
            <div class="form-group">
                <label asp-for="DescripcionRuta" class="control-label"></label>
                <input asp-for="DescripcionRuta" class="form-control" />
                <span asp-validation-for="DescripcionRuta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="IdEmpleado" />
            <input type="hidden" asp-for="IdRuta" />
            <input type="hidden" asp-for="IdBus" />
            <input type="hidden" asp-for="IdHorario" />
            <div class="form-group">
                <label asp-for="AsientosOcupados" class="control-label"></label>
                <input asp-for="AsientosOcupados" class="form-control" />
                <span asp-validation-for="AsientosOcupados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AsientosDisponibles" class="control-label"></label>
                <input asp-for="AsientosDisponibles" class="form-control" />
                <span asp-validation-for="AsientosDisponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
