@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Area de Administrador</h1>
    <p>Area dedicada a cada uno de los servicios proporcionados</a>.</p>
</div>
